body {
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative; /* For positioning feedback overlays */
}

#quiz-container {
    width: 500px;
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px;
}

#question-header {
    margin-bottom: 20px;
}

#question {
    font-size: 20px;
    font-weight: bold;
}

#score {
    font-size: 16px;
}

#answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    gap: 10px; /* Adjust as needed for spacing */
    padding: 10px;
    box-sizing: border-box; /* Include padding in the width calculation */
}

.answer {
    background-color: #f0f0f0; /* Example background color */
    border: 1px solid #ddd;
    cursor: pointer;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1; /* Maintain a 1:1 aspect ratio for square shape */
    padding: 5%; /* Adjust for content spacing */
    box-sizing: border-box;
}

/* Specific styles for each answer box for color differentiation */
#answer1 {
    background-color: red;
}

#answer2 {
    background-color: blue;
}

#answer3 {
    background-color: green;
}

#answer4 {
    background-color: yellow;
    color: black; /* For better contrast */
}

@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens like iPhones */
    #answers {
        grid-template-columns: 1fr; /* Stack answers in one column on small screens */
    }
}

@media only screen and (min-width: 768px) {
    /* Adjustments for larger screens like iPads */
    #answers {
        grid-template-columns: repeat(2, 1fr); /* Two columns for larger screens */
    }
}


.inactive {
    background-color: grey !important;
    color: white !important;
}

.feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    z-index: 100;
    text-align: center;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

#firework-graphic {
    font-size: 50px;
}

#sad-face {
    font-size: 50px;
}
