body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', 'Chalkboard', 'Comic Sans', cursive, sans-serif;
    text-align: center;
}

#top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}

#image-container {
    flex: 0 0 66%; /* Two-thirds of the container */
    text-align: left;
}

#image-container img {
    width: 100%;
    height: auto;
    max-width: 683px; /* Adjust the max width as needed */
}

#question-header {
    flex: 1;
    padding-left: 20px; /* Space between the image and the question */
}

#question {
    font-size: 6vw;
    font-weight: bold;
    color: black;
}

#quiz-container {
    max-width: 100vw;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

#answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.answer {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    font-size: 5vw;
    box-sizing: border-box;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

#answer1 { background-color: red; }
#answer2 { background-color: blue; }
#answer3 { background-color: green; }
#answer4 { background-color: yellow; color: black; text-shadow: 1px 1px 2px white; }

#stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: calc(100vw - 20px);
    max-width: 500px; /* Maximum width to match #answers */
}

#stars span {
    font-size: 3vw; /* Smaller font size to accommodate up to 10 stars */
    margin: 0 1px;
}

@media only screen and (max-width: 600px) {
    #stars span {
        font-size: 6vw; /* Adjusted for smaller screens */
    }
}
