body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

#header-container {
    max-width: calc(100vw - 40px);
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

#image-container {
    width: 150px;
    height: 150px;
}

#image-container img {
    width: auto;
    height: 150px;
}

#question-container {
    max-width: calc(100vw - 40px);
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

#question-header {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: 300px;
    width: calc(100vw - 70px); /* Adjusted width to account for grid gap - up from 60*/
    margin: 0 auto 20px; /* Center the box */    box-sizing: border-box;
    white-space: normal; /* Allows text wrapping */
    overflow: visible; /* Lets text extend beyond the box if needed */
    text-overflow: clip; /* Default behavior, allowing text to wrap */
}

#question {
    font-size: 6vw;
    font-weight: bold;
    color: black;
}

#quiz-container {
    max-width: calc(100vw - 40px);
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

#answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: calc(100vw - 60px); /* This width should match the question-header width */
    margin: 0 auto; /* Center the grid */    
    box-sizing: border-box;
}

.answer {
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center content */
    width: calc((100vw - 80px)/2); /* Adjusted width */
    height: calc((100vw - 80px)/2); /* Adjusted height */
    padding: 10px; /* Inner padding */
    box-sizing: border-box;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    overflow: hidden; /* Hide overflow */
    white-space: normal; /* allow text wrapping */
    font-size: 5vw; /* Adjust font size for responsive text */
    padding-top: 10%; /* Set padding-top to create square aspect ratio */
    line-height: 1.2; /* Adjust line-height for vertical centering */
}

#score-container {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100vw - 60px); /* Same as question box */
    height: 100px; 
    margin: 38px auto 20px; /* Increased top margin */    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-container img {
    width: calc((100% - 20px) / 10); /* Adjust width to fit exactly 10 coins */
    height: auto; /* Maintain aspect ratio */
}

#answer1 { background-color: red; }
#answer2 { background-color: blue; }
#answer3 { background-color: green; }
#answer4 { background-color: yellow; color: black; text-shadow: 1px 1px 2px white; }

#end-game-container {
    text-align: center;
    padding: 20px;
}

#congrats-message {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style the button as needed */
#play-again-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    /* Add additional button styling here */
}

@media only screen and (max-width: 768px) { /* Targeting more general mobile devices */
    #score-container {
        height: 100px; /* Adjust for smaller screens */
    }

    #score-container img {
        width: calc((100% - 20px) / 10); /* Adjust width for smaller screens */
        height: auto; /* Maintain aspect ratio */
    }
}

/* Additional specific targeting for iPhone X and later */

@media only screen and (max-width: 375px) {
    /* Add any specific styles for smaller iPhones here if needed */
}
